.pedidos_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.lista_container {
    width: 60%;
    padding: 16px 32px;
    -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;
}
.lista_container.contracted {
    width: 40%;
    -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;
}
.header_container{
    margin: 0px 8px;
}
.mapa_container {
    width: 40%;
}

.mapa_container .contracted{
    width: 60%;
}


/************NUEVO PEDIDO**************/

  .nuevo-pedido-form  {
    padding: 0px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px auto;
  }
  
  
  .nuevo-pedido-form label {
    margin-bottom: 10px;
    color: #292929;
  }
  .nuevo-pedido-form .item-input {
    width:100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: flex-start;
  }
  .nuevo-pedido-form input,
  .nuevo-pedido-form textarea{
    width: 100%;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
  }
  
  .nuevo-pedido-form button {
    background-color: #F2E6CF;
    color: #292929;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }

  .nuevo-pedido-form .btn-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
  .item-check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
    margin: 20px 0px;
  }

  .detalles-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: #F2E6CF;
  }

  .row-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }

  .row-information-client{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .MuiDrawer-paper{
    width: 50%;
    background: #F2E6CF;
  }

  .botonera-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
  }

  .botones-principales{
    display: flex;
    flex-direction: column;
  }

  .segunda-fila{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5rem;
  }