
.card-detalle-ruta-container {
    display: flex;
    flex-direction: row;
    background-color: #3D3D3D;
    color: #FBF7EF;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 24px;
    margin: 8px;
    justify-content: space-between;
    align-items: center;
}

.titulo-card {
    font-family: Nunito;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 8px;
}
.repartidor_detalles_ruta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.repartidor_name_right {
    text-align: right;
    margin-right: 10px;
}