.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #F2E6CF;
  }
  
  .login-form form {
    background-color:#292929;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #F2E6CF;
  }
  
  .form-control {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    color: #F2E6CF;
  }
  
  .login-form input {
    padding: 10px;
    width: 50%;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
  }
  
  .login-form button {
    background-color: #F2E6CF;
    color: #292929;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .error {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  
  .registerText {
    color: #F2E6CF;
    text-decoration: underline;
    margin-top: 60px;
  }

  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    color: #F2E6CF;
  }
  
  .registration-form h2 {
    margin-bottom: 1rem;
    color: #F2E6CF;
  }
  
  .registration-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
  }
  
  .registration-form input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
  }
  
  .registration-form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #F2E6CF;
    color: #292929;
    cursor: pointer;
    width: 100%;
  }
  

  .registration-form p {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  
  .registration-form p div {
    color: #F2E6CF;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
  }
  