.rutas_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex:1;
    height: 100%;
    position: relative;

}
.rutas_view_container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.rutas_container .lista_container {
    width: 40%;
    padding: 16px 32px 16px 32px;
    -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;
}
.rutas_container .lista_container.contracted {
    width: 30%;
    -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;
}
.rutas_container .header_container{
    margin: 0px 8px;
}
.rutas_container .mapa_container {
    width: 60%;
    position: relative;
}

.mapa_container .contracted{
    width: 70%;
    position: relative;
}
.nueva-ruta-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex:1;
}
.card_detalles_ruta_float{
    position: absolute;
    top:0;
    z-index: 3;
    width: 100%;
}
.order_list_float_right{
    float: right;
}
/************* Detalles de ruta *****************/
.detalle-ruta-container{
    background-image: url('../../assets/mapBackground.jpg');
    background-size: 100% 100%;
    flex:1;
    object-fit: cover;
}
.pedidos_detalles_container{
    width: 60%;
}
