.slide-bar {
  display: flex;
  width: 75px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2e6cf;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.slide-bar-hovered {
  width: 15vw;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: #292929;
  width: 75px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.icon-container.active {
  color: #f2e6cf;
  background-color: #292929;
}

.slide-bar-hovered .icon-container {
  width: 15vw;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-left: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.icon-text.show {
  opacity: 1;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  display: block;
  transition: opacity 0.9s ease-in-out;
}
.iconSlide {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffffff;
  color: #292929;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -12px;
}
