.containerMap {
  height: 100%;
  width: 100%;
}
.deliveryMarker {
  color: #5252f4;
  width: 100px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.kmh-indicator {
  background-color: #5252f4;
  padding: 5px 3px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 0.7rem;
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.deliveryMarker:hover .kmh-indicator {
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
